#casesp-sec {
    width: var(--100w);
}

#casesp-container1 {
    position: relative;
    margin-top: calc(var(--1w) * 0.38);
}

#divid4 {
    height: calc(var(--1w) * 0.6);
    border-top: 1px solid rgba(247, 247, 247, 0.75);
    border-right: 1px solid rgba(247, 247, 247, 0.75);
}

#casesp-container1-text {
    padding-top: calc(var(--1w) * 0.35);
}