#mobile-map {
    height: 23.8262875svh;
    display: flex;
    justify-content: center;
}

#mobile-map-img {
    height: 23.8262875svh;
}

#mobile-map-carts .slick-dots {
    font-size: 20px;
    bottom: 10px;
    color: white;
}

#mobile-map-carts .slick-list {
    height: 47.652575svh;
}

#mobile-map-carts .slick-slide {
    height: 47.652575svh;
}