#licensesp-sec {
    width: var(--100w);
}

.licensesp-img1 {
    grid-column-start: 5;
    grid-column-end: 9;
}

.licensesp-img2 {
    grid-column-start: 9;
    grid-column-end: 13;
}

.licensesp-img {
    width: 100%;
    object-fit: cover;
}